body {
    background-color: rgb(253, 26, 196);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: rgb(126, 9, 235);
}

.container {
    margin: 120px auto;
    max-width: 800px;
    background-color: rgb(253, 26, 196);
    border-radius: 5px;
}

header {
    margin-bottom: 30px;
}

h1 {
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    line-height: 1.5;
    color: rgb(126, 9, 235);
}

form {
    padding: 20px;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
    display: flex;
    margin-bottom: 30px;
}

.prompt-input {
    padding: 16px;
    border: 1px solid rgb(154, 155, 156);
    width: 80%;
    font-size: 16px;
    border-radius: 5px;
    line-height: 25px;
    color: black;
}

.button-submit {
    margin-left: 10px;
    background: rgb(126, 9, 235);
    color: white;
    border: none;
    width: 150px;
    font-size: 16px;
    border-radius: 15px;
    padding: 14px 25px;
}

.poem {
    font-size: 16px;
    background-color: white;
    padding: 20px;
    line-height: 2;
    border: 1px solid rgb(126, 9, 235);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
    border-radius: 15px;
}

footer {
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
}